.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./searchbarback.jpg");
  /* Photo by Alessandro Alimonti on Unsplash */
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
  width: 100%;
  background-attachment: fixed;
  background-position: 0% 35%;
  position: relative;
  animation: 0.5s errIn ease;
}
.SearchBar:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 70vh;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  opacity: 0.99;
  z-index: 0;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.25s;
}

.SearchBar-sort-options li:hover {
  color: #d4cfcf;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 2px solid #89be39;
  color: #89be39;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
  transition: 0.3s all ease-in-out;
}
.SearchBar-fields input {
  width: 80%;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  padding: 0.66rem 0 0.66rem 0.66rem;
}
.locButton {
  width: 2.7rem;
  height: 2.7rem;
  z-index: 2;
  border: none;
  cursor: pointer;
  background: none;
  margin-left: .66rem;
  position: absolute;
  transition: 0.2s all ease-in-out;
}
.locButton:focus{
  outline: none;
}
.locButton svg{
  transition: 0.2s all ease-in-out;
}
.locButton svg:hover{
  transform: scale(1.07);
}
.SearchBar-fields div {
  width: 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}
.SearchBar-fields div:focus-within {
  transition: 0.2s all ease-in-out;
  border: 2px solid #89be39;
  box-shadow: 0 0 20px #89be39;
}
.SearchBar-fields div:hover {
  box-shadow: 0 0 20px #89be39;
  transition: 0.2s all ease-in-out;
}
.SearchBar-fields div:last-child {
  margin-right: 0;
}
.shortCuts {
  color: white;
  list-style-type: armenian;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.5rem;
}
.shortCuts li {
  margin: 2vh;
  background-color: #89be399f;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  padding: 10px;
}
.shortCuts li:hover {
  background-color: #89be39;
  cursor: pointer;
}
.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: #89be39;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.08s;
  position: relative;
  z-index: 3;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #4c6920;
}
.SearchBar-submit a:active {
  cursor: pointer;
  background-color: #304215;
}
h2.error {
  padding: 0.66rem 0;
  margin-top: 0.5rem;
  text-align: center;
  background-color: #be3956;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  width: auto;
  color: #fff;
  transition: all ease-in-out 1s;
  animation: 0.2s linear errIn;
}
.SearchWrapper {
  min-height: 400px;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url("./searchbarback-mob.jpg");
    height: 100vh;
  }
  .SearchWrapper {
    top: -10%;
    position: relative;
  }
  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields div {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }
  .shortCuts {
    font-size: 4vw;
  }
  span {
    display: flex;
    justify-content: space-evenly;
  }

}
